@use './spacing' as *;
@use './fonts' as *;
@use './colors' as *;

%flex-row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%disclaimer {
  max-width: $layoutWidth;
  margin: 2rem auto 0;
  padding: 0 1rem;

  p {
    font-family: $fontFamilyBase;
    font-size: 0.9rem;
    color: $dark-purple;
  }

  a {
    color: $purple;
    text-decoration: underline;

    &:hover {
      color: $dark-purple;
    }
  }
}