@use '../../../styles/abstracts/' as *;

.siteFooter {
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    height: 7px;
    width: 100%;
    background: rgb(239,242,247);
    background: linear-gradient(90deg, $dark-purple 35%, $blue 35%, $blue 55%, $pink 55%, $pink 75%, $purple 75%, $purple 95%, $green 95%);
    display: block;
  }
}

.container {
  max-width: $layoutWidth;
  margin: 0 auto;
  padding: 4rem 1rem 2rem;
}