@use '../../../styles/abstracts/' as *;

$sectionCount: var(--sectionCount);

.siteFooterPrimary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include small {
    flex-direction: column-reverse;
  }

  @include medium {
    flex-direction: row;
  }
}

.menu {
  display: grid;
  width: 100%;

  @include small {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  @include medium {
    grid-template-columns: repeat(3, 1fr);
  }

  @include wide {
    grid-template-columns: repeat($sectionCount, 1fr);
    gap: 1rem;
  }
}

.left {
  display: flex;
  flex: 1 225px;

  @include small {
    margin: 4rem auto 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @include medium {
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 2rem;
    gap: 1rem;
  }

  @include wide {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.logo {
  max-width: 125px;

  img {
    width: 100%;
  }

  @include small {
    margin: 0 auto;
  }

  @include medium {
    margin: 0;
  }
}

.social {
  ul {
    display: flex;

    li {
      a {
        transition: color 0.3s;
        color: $dark-purple;
        
        &:hover {
          color: $purple;
        }
      }
    }
  }

  @include small {
    margin: 1rem auto;

    ul {
      gap: 1.25rem;
      justify-content: center;

      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }

  @include medium {
    margin-top: 0.5rem;
    margin-left: 0.25rem;

    ul {
      gap: 0.75rem;
      justify-content: flex-start;
      
      li {
        a {
          font-size: 1.25rem;
        }
      }
    }
  }

  @include wide {
    margin-left: 0;
  }
}

.location {
  color: $dark-purple;

  @include small {
    margin: 1rem auto;
    text-align: center;
  }

  @include medium {
    margin: 0;
    text-align: left;
  }

  & > div {
    font-family: $fontFamilySemiBold;
    font-size: 1rem;
  }

  p {
    font-family: $fontFamilyBase;
    line-height: 1.4;
    font-size: 0.8rem;
  }
}

.mission {
  @include small {
    margin: 1rem auto;
    text-align: center;
    max-width: 300px;
  }

  @include medium {
    margin: 0 auto;
    text-align: left;
  }

  p {
    font-family: $fontFamilyBase;
    color: $dark-purple;
    line-height: 1.4;
    font-size: 0.8rem;
  }
}